<div class="card" style="width: 50%; margin: 0 auto; border-radius: 13px; border: 3.5px solid black; box-shadow: #00FF41 0px 20px 30px -10px;">
  <a href="dashboard/edit/{{id}}" style="text-decoration-color:#00FF41;">
    <div class="card-header d-flex justify-content-between" style="background-color: #060305;">
      <div 
  style="color: #00FF41;">{{postTitle}}</div>
       </a>
      <div style="color: #00FF41;">Posted on {{format_date dateCreated}}</div>
    </div>  
  
</div>
<br>
