
<div class="card" style="width: 50%; margin: 0 auto; margin-top: 70px; border-radius: 10px; border: 3.5px solid black;box-shadow: #00FF41 0px 20px 30px -10px;">
  <div class="card-body" style="background-color:black; color: #00FF41;">
    <form id="new-post-form">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" name="post-title" style="border-color:#00FF41; background-color: rgb(7, 7, 7); color:#00FF41; ">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="post-body" rows="3" style="border-color:#00FF41; background-color: rgb(7, 7, 7); color:#00FF41; "></textarea>
  </div>
  <button type="submit" class="btn" style="background-color:rgb(7, 7, 7); color:#00FF41; border-color:#00FF41;">Post</button>
</form>
  </div>
</div>
<script src="/js/new.js"></script>