
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 10px;  border: 3.5px solid black; box-shadow: #00FF41  0px 20px 30px -10px;">
            <div class="card-body p-5" style="background-color: #060305;">
              <h4 class="text-uppercase text-center mb-5" style="color:#00FF41">Welcome To The TechBlog</h4>
              <h4 class="text-uppercase text-center mb-5"style="color:#00FF41">Create an account</h4>

              <form class="signup-form">

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg" style="color:#00FF41">Username</label>
                  <input type="text" id="username-input-signup" class="form-control form-control-lg" style="background-color: rgb(7, 7, 7); border-color:#00FF41; color :#00FF41"/>
                  
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg" style="color:#00FF41">Your Email</label>
                  <input type="email" id="email-input-signup" class="form-control form-control-lg"style="background-color: rgb(7, 7, 7); border-color:#00FF41; color :#00FF41" />
                  
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg" style="color:#00FF41">Password</label>
                  <input type="password" id="password-input-signup" class="form-control form-control-lg"style="background-color: rgb(7, 7, 7); border-color:#00FF41; color :#00FF41" />
                  
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="submit" data-mdb-button-init
                    data-mdb-ripple-init class="btn btn-block btn-lg" style="color:#00FF41; background-color: rgb(7, 7, 7);">Register</button>
                </div>

                <p class="text-center mt-5 mb-0" style="color:#00FF41;">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u style="color:#00FF41;">Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/signup.js"></script>
